* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body,html{
    height: 100%;
    overflow: hidden;
}
body {
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

h1 {
    font-size: 2rem;
}

#registrationForm {

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2rem;
    border-radius: 0.5rem;
    gap: 0.3rem;
}

#registrationForm input {

    width: 15rem;
    font-size: 1.2rem;
    padding: 0.4rem;
    border: 1px solid rgba(125, 125, 125, 0.374);
}

#registrationForm input:focus {
    border: 2px solid rgba(33, 119, 247, 0.962);
    outline: none;

}

#registrationForm button {
    padding: 0.3rem 1.5rem;
    margin-top: 1rem;
    font-weight: 600;

    font-size: 1.2rem;
    align-self: center;
    border-radius: 1.2rem;
    border: none;
    background-color: rgba(42, 127, 255, 0.962);
    color: white;
}

.errormessage {
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(255, 11, 11);

}

#successMessage {
    font-weight: 500;
    color: rgb(18, 183, 18);
    text-align: center;
}